NODE_ENV="development"

APP_HOST="localhost"
APP_PORT=3000
APP_URL="http://${APP_HOST}:${APP_PORT}"

ALLOWED_ORIGIN="http://localhost:5000"

POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"
POSTGRES_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

REDIS_USER="default"
REDIS_PASSWORD="default"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}"

COOKIE_SECRET="some_cookie_secret"
COOKIE_DOMAIN="localhost"
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=true

SESSION_NAME="session"
SESSION_SECRET="some_session_secret"
SESSION_PREFIX="sessions:"

GRAPHQL_PREFIX="/graphql"
